<!-- <br>
<form #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)" autocomplete="off">
  <div class="row">
    <div class="col-sm-6">
      <label>Usuario</label>
      <input type="text" class="form-control" placeholder="Ingrese Nombre de Usuario" name="UserName" #UserName="ngModel" [(ngModel)]="user.UserName"
        required>
      <!-- <small class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="col-sm-6">
      <label>Contraseña</label>
      <input type="password" class="form-control" placeholder="Ingrese Minimo 3 Caracteres" name="Password" #Password="ngModel"
        [(ngModel)]="user.Password" required minlength="3">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <label>Correo Electronico</label>
      <input type="email" class="form-control" placeholder="example@domain.com" name="Email" #Email="ngModel" [(ngModel)]="user.Email"
        required>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <label>Primer Nombre</label>
      <input type="text" class="form-control" placeholder="Ingrese el Primer Nombre" name="FirstName" #FirstName="ngModel" [(ngModel)]="user.FirstName"
        required>
    </div>
    <div class="col-sm-6">
      <label>Apellidos</label>
      <input type="text" class="form-control" placeholder="Ingrese el Apellido" name="LastName" #LastName="ngModel" [(ngModel)]="user.LastName"
        required>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12" align="right">
      <button [disabled]="!userRegistrationForm.valid" type="submit" class="btn btn-primary">Registrar</button>
    </div>
  </div>
  <br>
</form> -->
<h1>Sing Up</h1>