<!-- <div style="margin: 3%">
  <form #loginForm="ngForm" autocomplete="off" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
    <div class="form-group row response">
      <div class="col-sm-12">
          <img src="../assets/img/hipo.png" alt="Icon User" class="rounded-circle" width="30%">
          <div *ngIf="isLoginSend">
            <br>
            <i class="fas fa-spinner fa-pulse fa-3x"></i>
          </div>
      </div>
      <label for="inputHorizontalSuccess" class="col-sm-12 col-form-label">Email</label>
      <div class="col-sm-12">
        <input type="email" class="form-control form-control-success" #UserName ngModel name="UserName" placeholder="Username@email.com"
          required>
        <div class="form-control-feedback">Ingrese su correo electrónico.</div>
        <small class="form-text text-muted">Pruebas</small>
      </div>
    </div>
    <div class="form-group row response">
      <label for="inputHorizontalWarning" class="col-sm-12 col-form-label">Password</label>
      <div class="col-sm-12">
        <input type="password" class="form-control form-control-warning" #Password ngModel name="Password" placeholder="Password"
          required>
        <div class="form-control-feedback">Ingrese su contraseña.</div>
        <small class="form-text text-muted">Test</small>
      </div>
    </div>
    <button [disabled]="!loginForm.valid" type="submit" class="btn btn-outline-success">Entrar</button>
  </form>
</div> -->

<h1>Sing In</h1>