.icon-large{
    font-size: 100px
}
.icon-medium{
    font-size: 50px
}
.icon-more-medium{
    font-size: 45px
}
.without-padding{
    padding: 0%;
}
.without-margin-bottom{
    margin-bottom: 0%;
}
.inline{
    display: inline;
}