<toaster-container [toasterconfig]="config"></toaster-container>
<div class="row">
  <div class="col-md-12" *ngIf="search.length > 0">
    <nb-card class="solar-card">
      <nb-card-header class="text-success">
        <div class="row">
          <div class="col-md-6">
            <strong>Busqueda: </strong> {{ search }}
            <h2 *ngIf="activityBS.activitySearch.length == 0">Sin Resultados</h2>
          </div>
          <div class="col-md-6" align="right">
            <button type="button" class="btn btn-danger btn-icon" (click)="resetSearch()">
              <i class="ion-close-circled"></i>
            </button>
          </div>
        </div>
      </nb-card-header>
    </nb-card>
  </div>
  <div class="col-md-12" align="right">
    <button class="btn btn-success" (click)="open(content)">Agregar Actividad</button>
    <br>
    <br>
  </div>
  <div class="col-md-6" *ngFor="let activity of activityBS.activitySearch">
    <nb-card class="solar-card">
      <nb-card-header>
        <h3 class="text-info">{{ activity.name }}</h3>
      </nb-card-header>
      <nb-card-body>
        <div class="row" align="center">
          <div class="col-12">
            <h4>Identificador: {{ activity.idActivity }}</h4>
            <h5 class="text-success">Tipo: {{ activityBS.getNameActivityType(activity.idActivityType) }}</h5>
            <p class="text-hint">{{ activity.description }}</p>
            <i class="ion-ios-game-controller-b-outline icon-large"></i>
          </div>
          <div class="col-12">
            <button class="btn btn-hero-warning" (click)="open(content, activity)">Editar</button>
          </div>
          <div class="col-12" style="margin-top:3%">
            <button class="btn btn-hero-info" (click)="open2(actCom, activity)">
              <i class="ion-ios-americanfootball-outline"></i> Competencias
            </button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>


<!-- Modal Add Activity -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Agregar/Editar Actividad
      <i class="ion-ios-game-controller-b-outline"></i>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form class="form-group" #historyForm="ngForm" (ngSubmit)="onSubmit(historyForm)">
    <div class="modal-body">
      <div class="modal-body">
        <div class="form-row">
          <div class="form-group col-12">
            <input type="hidden" name="idActivity" #idActivity="ngModel" [(ngModel)]="activitySelected.idActivity">
            <input class="form-control" name="name" #name="ngModel" [(ngModel)]="activitySelected.name" placeholder="Nombre" required>
          </div>
          <div class="form-group col-12">
            <input class="form-control" name="description" #description="ngModel" [(ngModel)]="activitySelected.description" placeholder="Descripción"
              required>
          </div>
          <div class="form-group col-12">
            <select class="form-control" name="idActivityType" #idActivityType="ngModel" [(ngModel)]="activitySelected.idActivityType"
              required>
              <option>Seleccione una opción</option>
              <option *ngFor="let type of activityBS.activityTypes" [value]="type.idActivityType">
                {{type.name}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-row">
        <div class="form-group col-6">
          <button type="button" class="btn btn-hero-danger" (click)="c('Close click')">Cancelar</button>
        </div>
        <div class="form-group col-6">
          <button type="submit" class="btn btn-hero-success">Guardar</button>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<!-- Modal Add ActivityCompetition -->
<ng-template #actCom let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Agregar/Editar Competencias
      <i class="ion-ios-game-controller-b-outline"></i>
      <h4 class="text-info">{{ activitySelected.name }}</h4>
    </h4>
  </div>
  <div class="modal-body">
    <div class="row" align="center">
      <div class="col-md-12" align="left" *ngFor="let actComp of activityBS.activitiesCompetition">
        <nb-card>
          <nb-card-header>
            <div class="row">
              <div class="col-md-12">
                <button type="button" class="close btn btn-danger btn-tn" (click)="deleteCompetitionActivity(actComp.idCompetitionActivity)">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h3>
                  <i class="ion-ios-americanfootball-outline"></i> {{ actComp.Competition.name }}</h3>
              </div>
            </div>
          </nb-card-header>
        </nb-card>
      </div>
      <div class="col-md-12">
        <button class="btn btn-hero-info" [nbPopover]="formAddCompetition" nbPopoverPlacement="bottom">
          <i class="ion-android-add-circle"></i> Nueva Competencia</button>
      </div>
      <div class="col-md-12">
        <button class="btn btn-hero-danger" style="margin-top:3%" (click)="d('Cross click')">
          <i class="ion-close-circled"></i>
          Cerrar</button>
      </div>
    </div>

  </div>
</ng-template>

<!-- Template Form Competition -->
<ng-template #formAddCompetition>
  <div class="p-4">
    <form class="form-group" #competitionForm="ngForm" (ngSubmit)="onSubmitCompetition(competitionForm)">
      <select class="form-control" name="idCompetition" #idCompetition="ngModel" [(ngModel)]="competitionForm.idCompetition" required>
        <option>Seleccione una opción</option>
        <option *ngFor="let competition of competitionBS.competitionSearch" [value]="competition.idCompetition">
          {{competition.name}}
        </option>
      </select>
      <br>
      <button class="btn btn-outline-success">Guardar</button>
    </form>
  </div>
</ng-template>